<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270798260123-4bh0o0i9e0sil0f9rbpfv6a5kblrfbr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270798260123-4bh0o0i9e0sil0f9rbpfv6a5kblrfbr1</string>
	<key>API_KEY</key>
	<string>AIzaSyCuH81JWHfYfzLFhw5VF2nV-EQ5h9RRggA</string>
	<key>GCM_SENDER_ID</key>
	<string>270798260123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kiko.FirebasePrOne</string>
	<key>PROJECT_ID</key>
	<string>fir-prone</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-prone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270798260123:ios:493adce2795aa1c8d2c33e</string>
</dict>
</plist>